endaq==1.5.3
fastapi==0.142.2
httpx==0.28.1
idelib==3.4.0
numpy==2.5.3
pandas==3.0.6
pyarrow==25.0.1
pytest==9.1.1
python-multipart==0.0.32
PyYAML==6.0.3
scipy==1.18.1
sqlmodel==0.0.47
uvicorn==0.54.0
